In [1]:
import pandas as pd
import numpy as np

### Tworzenia DataFrame

In [2]:
arr2d = np.array([[1,2,3], [4,5,6]]) # i teraz tworzymy tablicę za NumpPy.TEST

In [3]:
pd.DataFrame(arr2d) #tu za pomocą tej tablicy tworzymy Pandas Data Frame

   0  1  2
0  1  2  3
1  4  5  6

In [4]:
pd.DataFrame(arr2d,columns=['a', 'b', 'c']) # tak nazywamy kolumny data frame

   a  b  c
0  1  2  3
1  4  5  6

In [6]:
pd.DataFrame(arr2d,columns=['a', 'b', 'c'], index=['w1', 'w2']) #a tu dodatkowo wstawiamy nazwy wierszy

    a  b  c
w1  1  2  3
w2  4  5  6

### Wybór elementów z DataFramework

In [7]:
np.random.seed(5) # teraz będziemy sobie generować losowo data frame
arr_rnd = np.random.rand(5,5) # tu generujemy w sposób losowy tablicę 5x5

In [61]:
df = pd.DataFrame(arr_rnd, index=['A', 'B', 'C', 'D', 'E'], columns=['C1', 'C2', 'C3', 'C4', 'C5'] ) # a tu na podtsawie powyższej tablicy tworzymy data frame oraz wstawiamy nazwy wierszy-polecenie index i nazwy kolumn - polecenie columns

In [42]:
df

         C1        C2        C3        C4        C5
A  0.221993  0.870732  0.206719  0.918611  0.488411
B  0.611744  0.765908  0.518418  0.296801  0.187721
C  0.080741  0.738440  0.441309  0.158310  0.879937
D  0.274086  0.414235  0.296080  0.628788  0.579838
E  0.599929  0.265819  0.284686  0.253588  0.327564

In [13]:
df['C1'] # tu sobie robimy wyciągamy jedną kolumnę, u nas kolumne C1

A    0.221993
B    0.611744
C    0.080741
D    0.274086
E    0.599929
Name: C1, dtype: float64

In [11]:
df[['C1', 'C3']] # a tu sobie wyciągamy dwie kolumnę, u nas kolumny C1, C3, ale musimy dodać jeszcze drugi nawias kwadratowy

         C1        C3
A  0.221993  0.206719
B  0.611744  0.518418
C  0.080741  0.441309
D  0.274086  0.296080
E  0.599929  0.284686

In [55]:
df['C6_NEW'] = df['C4'] * 2 # A teraz sobie DODAJEMY NOWĄ KOLUMNĘ, która będzie równała się podwojonej wartości z kolumny C4 -- lub tak jak poniżej
df['new_index'] = [100, 101, 102, 103, 104]
df

  index        C1        C3        C4        C5    C6_NEW  new_index
0     A  0.221993  0.206719  0.918611  0.488411  1.837222        100
1     B  0.611744  0.518418  0.296801  0.187721  0.593601        101
2     C  0.080741  0.441309  0.158310  0.879937  0.316620        102
3     D  0.274086  0.296080  0.628788  0.579838  1.257576        103
4     E  0.599929  0.284686  0.253588  0.327564  0.507176        104

In [44]:
df.drop('C2', axis=1) # usuwanie KOLUMN, ale ważne jest żeby podać 'axis', zaczynamy od 0, czyli jeśli chcemy usunąć kolumnę C2, to wiadomo, że zaczynając od 0, to ona jest pod indeksem 1, bo Kolumna z ABCDE, to kolumna, która nie jest brana pod uwagę, gdyż są to nazwy wierszy
df #ale jak widzimy, że jak poprosimy o wyswietlenie dataframe = df, to ta kolumn dalej jest

         C1        C2        C3        C4        C5    C6_NEW
A  0.221993  0.870732  0.206719  0.918611  0.488411  1.837222
B  0.611744  0.765908  0.518418  0.296801  0.187721  0.593601
C  0.080741  0.738440  0.441309  0.158310  0.879937  0.316620
D  0.274086  0.414235  0.296080  0.628788  0.579838  1.257576
E  0.599929  0.265819  0.284686  0.253588  0.327564  0.507176

In [45]:
df #ale jak widzimy, że jak poprosimy o wyswietlenie dataframe = df, to ta kolumn dalej jest

         C1        C2        C3        C4        C5    C6_NEW
A  0.221993  0.870732  0.206719  0.918611  0.488411  1.837222
B  0.611744  0.765908  0.518418  0.296801  0.187721  0.593601
C  0.080741  0.738440  0.441309  0.158310  0.879937  0.316620
D  0.274086  0.414235  0.296080  0.628788  0.579838  1.257576
E  0.599929  0.265819  0.284686  0.253588  0.327564  0.507176

In [46]:
df = df.drop('C2', axis=1) # dopiero po tej aktualizacji, ta kolumna C2 znika
df

         C1        C3        C4        C5    C6_NEW
A  0.221993  0.206719  0.918611  0.488411  1.837222
B  0.611744  0.518418  0.296801  0.187721  0.593601
C  0.080741  0.441309  0.158310  0.879937  0.316620
D  0.274086  0.296080  0.628788  0.579838  1.257576
E  0.599929  0.284686  0.253588  0.327564  0.507176

In [48]:
df.drop('C') # to jest usuwanie WIERSZY tylko z wyswietlenia, a nie docelowo z tablicy. Jak chcemy usunnąc z tablicy, to robimy jak powyżej
df

         C1        C3        C4        C5    C6_NEW
A  0.221993  0.206719  0.918611  0.488411  1.837222
B  0.611744  0.518418  0.296801  0.187721  0.593601
C  0.080741  0.441309  0.158310  0.879937  0.316620
D  0.274086  0.296080  0.628788  0.579838  1.257576
E  0.599929  0.284686  0.253588  0.327564  0.507176

In [49]:
df.loc['A'] # wyswietlenie etykiety A

C1        0.221993
C3        0.206719
C4        0.918611
C5        0.488411
C6_NEW    1.837222
Name: A, dtype: float64

In [16]:
df.loc[['A', 'D', 'E']] # wyswietlenie 2 etykiet A i D

         C1        C2        C3        C4        C5
A  0.221993  0.870732  0.206719  0.918611  0.488411
D  0.274086  0.414235  0.296080  0.628788  0.579838
E  0.599929  0.265819  0.284686  0.253588  0.327564

In [21]:
df.loc['A','C3']

0.20671915533942642

In [23]:
df.loc[['A', 'B'], ['C3', 'C4']] # tu mamy wycinek dwóch wierszy + dwóch kolumn

         C3        C4
A  0.206719  0.918611
B  0.518418  0.296801

### Filtrowanie - wybór warunkowy - ale tylko filtrowanie, bez wpływu na data frame

In [59]:
df #tu sobie sprawdzam, co mam w obecnym data frame - jaka jest jego zawartośc

  index        C1        C3        C4        C5    C6_NEW  new_index
0     A  0.221993  0.206719  0.918611  0.488411  1.837222        100
1     B  0.611744  0.518418  0.296801  0.187721  0.593601        101
2     C  0.080741  0.441309  0.158310  0.879937  0.316620        102
3     D  0.274086  0.296080  0.628788  0.579838  1.257576        103
4     E  0.599929  0.284686  0.253588  0.327564  0.507176        104

In [62]:
df > 0.5 # filtrujemy po wartościach, które są większe od 0,5

      C1     C2     C3     C4     C5
A  False   True  False   True  False
B   True   True   True  False  False
C  False   True  False  False   True
D  False  False  False   True   True
E   True  False  False  False  False

In [63]:
df [df > 0.5] # teraz odfiltrowujemy z wartosci boolowskich, na integerowe i będziemy widzieć faktyczne wartości. ALe tam gdzie ten waunek nie jest spelniony mamy NaN=not ammounted - czyli, że nie spelnia tego warunku.

         C1        C2        C3        C4        C5
A       NaN  0.870732       NaN  0.918611       NaN
B  0.611744  0.765908  0.518418       NaN       NaN
C       NaN  0.738440       NaN       NaN  0.879937
D       NaN       NaN       NaN  0.628788  0.579838
E  0.599929       NaN       NaN       NaN       NaN

In [26]:
# NaN - not ammounted

In [64]:
df[(df >0.2) & (df<0.4)] # dwa warunki do filtrowania musza być spełnione, ale dla calej tabeli

         C1        C2        C3        C4        C5
A  0.221993       NaN  0.206719       NaN       NaN
B       NaN       NaN       NaN  0.296801       NaN
C       NaN       NaN       NaN       NaN       NaN
D  0.274086       NaN  0.296080       NaN       NaN
E       NaN  0.265819  0.284686  0.253588  0.327564

In [67]:
df [df['C1'] < 0.2] # tu mamy filtrowanie tylko dla  kolumny C1 - i tu zwróciło nam te wiersze, które ten filtr spełniają, czyli po tym filtrze nie ma wierszy A i B, bo nie spełniają tego warunku

         C1       C2        C3       C4        C5
C  0.080741  0.73844  0.441309  0.15831  0.879937

In [68]:
df

         C1        C2        C3        C4        C5
A  0.221993  0.870732  0.206719  0.918611  0.488411
B  0.611744  0.765908  0.518418  0.296801  0.187721
C  0.080741  0.738440  0.441309  0.158310  0.879937
D  0.274086  0.414235  0.296080  0.628788  0.579838
E  0.599929  0.265819  0.284686  0.253588  0.327564

In [69]:
df = df.reset_index() # tu resetuje cały indkes za pomocą polecenia 'reset'
df

  index        C1        C2        C3        C4        C5
0     A  0.221993  0.870732  0.206719  0.918611  0.488411
1     B  0.611744  0.765908  0.518418  0.296801  0.187721
2     C  0.080741  0.738440  0.441309  0.158310  0.879937
3     D  0.274086  0.414235  0.296080  0.628788  0.579838
4     E  0.599929  0.265819  0.284686  0.253588  0.327564

In [72]:
df['new_index'] = [100, 101, 102, 103, 104] # DODAJEMY NOWĄ KOLUMNĘ, POPRZEZ PRZEKAZANIE WARTOSCI DO TABLICY
df

  index        C1        C2        C3        C4        C5  new_index
0     A  0.221993  0.870732  0.206719  0.918611  0.488411        100
1     B  0.611744  0.765908  0.518418  0.296801  0.187721        101
2     C  0.080741  0.738440  0.441309  0.158310  0.879937        102
3     D  0.274086  0.414235  0.296080  0.628788  0.579838        103
4     E  0.599929  0.265819  0.284686  0.253588  0.327564        104

In [73]:
df = df.set_index('new_index') # tu robimy taką akcję za pomocą polecenie 'set', że ta nowa kolumna 'new_index' będzie pełnić rolę indeksu całego data frame
df

          index        C1        C2        C3        C4        C5
new_index
100           A  0.221993  0.870732  0.206719  0.918611  0.488411
101           B  0.611744  0.765908  0.518418  0.296801  0.187721
102           C  0.080741  0.738440  0.441309  0.158310  0.879937
103           D  0.274086  0.414235  0.296080  0.628788  0.579838
104           E  0.599929  0.265819  0.284686  0.253588  0.327564

In [74]:
df.loc [103] # tu robimu filtrs po wierszu 103, z głownego indeksu

index           D
C1       0.274086
C2       0.414235
C3        0.29608
C4       0.628788
C5       0.579838
Name: 103, dtype: object