In [5]:
import numpy as np
import pandas as pd

In [45]:
df_people = pd.read_csv('../../Pliki/02_pandas/people.csv') #zaczytanie pliku .csv people + utworzenie zmiennej df_people
df_people.head() # pokaznie tylko 5 rekord√≥w

      Name  Age       Location Occupation  Salary
0    Alice   28       New York   Engineer   80000
1      Bob   35    Los Angeles     Doctor  120000
2  Charlie   22        Chicago    Student       0
3    David   40  San Francisco    Manager   95000
4    Emily   29          Miami   Designer   75000

In [46]:
df_people['Length in cm'] = [178, 179, 182, 190, 189, 176, 165, 156, 166, 180, 165, 190, 201, 160, 179, 191]
# dodanie kolumny 'Length in cm' i 'age'
df_people['age'] = [78, 79, 82, 90, 34, 23, 65, 56, 18, 23, 33, 45, 19, 46, 24, 31]
df_people

       Name  Age       Location      Occupation  Salary  Length in cm  age
0     Alice   28       New York        Engineer   80000           178   78
1       Bob   35    Los Angeles          Doctor  120000           179   79
2   Charlie   22        Chicago         Student       0           182   82
3     David   40  San Francisco         Manager   95000           190   90
4     Emily   29          Miami        Designer   75000           189   34
5     Frank   32         Boston         Teacher   60000           176   23
6     Grace   27        Seattle       Scientist  110000           165   65
7    Hannah   45         Dallas          Lawyer  130000           156   56
8       Ian   31         Denver          Writer   70000           166   18
9     Julia   24         Austin          Artist   55000           180   23
10    Karen   38        Houston      Accountant   90000           165   33
11     Liam   26        Phoenix    Photographer   50000           190   45
12    Megan   33       Portland       Architect  105000           201   19
13   Nathan   29        Atlanta        Musician   40000           160   46
14   Olivia   27        Detroit            Chef   65000           179   24
15     Paul   36    Minneapolis  Police Officer   85000           191   31

In [47]:
df_people.drop('age', axis=1) #dropniƒôcie kolumny 'age'

       Name  Age       Location      Occupation  Salary  Length in cm
0     Alice   28       New York        Engineer   80000           178
1       Bob   35    Los Angeles          Doctor  120000           179
2   Charlie   22        Chicago         Student       0           182
3     David   40  San Francisco         Manager   95000           190
4     Emily   29          Miami        Designer   75000           189
5     Frank   32         Boston         Teacher   60000           176
6     Grace   27        Seattle       Scientist  110000           165
7    Hannah   45         Dallas          Lawyer  130000           156
8       Ian   31         Denver          Writer   70000           166
9     Julia   24         Austin          Artist   55000           180
10    Karen   38        Houston      Accountant   90000           165
11     Liam   26        Phoenix    Photographer   50000           190
12    Megan   33       Portland       Architect  105000           201
13   Nathan   29        Atlanta        Musician   40000           160
14   Olivia   27        Detroit            Chef   65000           179
15     Paul   36    Minneapolis  Police Officer   85000           191

In [48]:
df_people # jak widaƒá jeszcze ta kolumna 'age' mimo usuniƒôcia jest jeszcze widoczna

       Name  Age       Location      Occupation  Salary  Length in cm  age
0     Alice   28       New York        Engineer   80000           178   78
1       Bob   35    Los Angeles          Doctor  120000           179   79
2   Charlie   22        Chicago         Student       0           182   82
3     David   40  San Francisco         Manager   95000           190   90
4     Emily   29          Miami        Designer   75000           189   34
5     Frank   32         Boston         Teacher   60000           176   23
6     Grace   27        Seattle       Scientist  110000           165   65
7    Hannah   45         Dallas          Lawyer  130000           156   56
8       Ian   31         Denver          Writer   70000           166   18
9     Julia   24         Austin          Artist   55000           180   23
10    Karen   38        Houston      Accountant   90000           165   33
11     Liam   26        Phoenix    Photographer   50000           190   45
12    Megan   33       Portland       Architect  105000           201   19
13   Nathan   29        Atlanta        Musician   40000           160   46
14   Olivia   27        Detroit            Chef   65000           179   24
15     Paul   36    Minneapolis  Police Officer   85000           191   31

In [49]:
df_people = df_people.drop('age', axis=1) # wy≈õwietlenie stanu tabeli po usuniƒôciu kolumny 'age'
df_people

       Name  Age       Location      Occupation  Salary  Length in cm
0     Alice   28       New York        Engineer   80000           178
1       Bob   35    Los Angeles          Doctor  120000           179
2   Charlie   22        Chicago         Student       0           182
3     David   40  San Francisco         Manager   95000           190
4     Emily   29          Miami        Designer   75000           189
5     Frank   32         Boston         Teacher   60000           176
6     Grace   27        Seattle       Scientist  110000           165
7    Hannah   45         Dallas          Lawyer  130000           156
8       Ian   31         Denver          Writer   70000           166
9     Julia   24         Austin          Artist   55000           180
10    Karen   38        Houston      Accountant   90000           165
11     Liam   26        Phoenix    Photographer   50000           190
12    Megan   33       Portland       Architect  105000           201
13   Nathan   29        Atlanta        Musician   40000           160
14   Olivia   27        Detroit            Chef   65000           179
15     Paul   36    Minneapolis  Police Officer   85000           191

In [44]:
df_people

       Name  Age       Location      Occupation  Salary  Length in cm
0     Alice   28       New York        Engineer   80000           178
1       Bob   35    Los Angeles          Doctor  120000           179
2   Charlie   22        Chicago         Student       0           182
3     David   40  San Francisco         Manager   95000           190
4     Emily   29          Miami        Designer   75000           189
5     Frank   32         Boston         Teacher   60000           176
6     Grace   27        Seattle       Scientist  110000           165
7    Hannah   45         Dallas          Lawyer  130000           156
8       Ian   31         Denver          Writer   70000           166
9     Julia   24         Austin          Artist   55000           180
10    Karen   38        Houston      Accountant   90000           165
11     Liam   26        Phoenix    Photographer   50000           190
12    Megan   33       Portland       Architect  105000           201
13   Nathan   29        Atlanta        Musician   40000           160
14   Olivia   27        Detroit            Chef   65000           179
15     Paul   36    Minneapolis  Police Officer   85000           191

In [3]:
# df_house = pd.read_csv('../../Pliki/02_pandas/house_price.csv')
# df_house.head()

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
0,Kawalerka na sprzeda≈º,240000.0,8888.89,Private,1.0,27.00,1,Housing Block,primary,Boles≈Çawiec,Lower Silesia,January,2022,39603,15.565105,51.263033
1,Nowoczesna kawalerka z winda plus gara≈º podziemny,250000.0,7142.86,Private,1.0,35.00,1,Housing Block,primary,Jelcz-Laskowice,Lower Silesia,January,2022,15828,17.349964,51.039831
2,Nowa kawalerka z Balkonem/Legnicka/Magnolia,259000.0,10360.00,Estate Agency,2.0,25.00,1,Housing Block,primary,Wroc≈Çaw,Lower Silesia,January,2022,634487,17.032669,51.108978
3,Kawalerka z balkonem/klucze I kwarta≈Ç 2022/60 ...,269000.0,10275.02,Private,3.0,26.18,1,Apartment Building,primary,Wroc≈Çaw,Lower Silesia,January,2022,634487,17.032669,51.108978
4,40 tys. taniej od dewelopera/Kawalerka/Magnoli...,258000.0,9923.08,Estate Agency,3.0,26.00,1,Housing Block,primary,Wroc≈Çaw,Lower Silesia,January,2022,634487,17.032669,51.108978

In [8]:
df_inventory.info() # Dziƒôki metody 'info' mo≈ºemy sobie zobaczyƒá jakie typy kolumn sƒÖ uzyte w tej bazie (jakie metryki sƒÖ przypisane do kolumn) w naszym data frame 'df_house'.
# I teraz kolumna 'non-null' pokazuje ile wierszy nie jest pustych. Jak widaƒá mamy r√≥≈ºnice, co oznacza, ≈ºe w niekt√≥rych wierszach brakuje nam warto≈õci. Je≈õli warto≈õƒá jest ta sama dla wszystkich wierszy, to jest ok, ale je≈õli dla kt√≥rego≈õ jest inna, tzn. ≈ºe tam sƒÖ warto≈õci puste, czyli brakuje warto≈õci.
# W kolumnie 'Dtype' mamy jakie rodzaje typ√≥w warto≈õci sƒÖ w nich zawarte, i tak object = string, a inne ju≈º majƒÖ standardowe nazwy.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 22 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   product.partNumber           154 non-null    object
 1   location.locationIdentifier  154 non-null    object
 2   inventoryType                154 non-null    object
 3   quantity                     154 non-null    int64
 4   quantityUnits                154 non-null    object
 5   value                        154 non-null    float64
 6   valueCurrency                154 non-null    object
 7   reservationOrders            154 non-null    int64
 8   daysOfSupply                 154 non-null    int64
 9   shelfLife                    154 non-null    int64
 10  reorderLevel                 154 non-null    int64
 11  expectedLeadTime             154 non-null    int64
 12  quantityUpperThreshold       154 non-null    int64
 13  quantityLowerThreshold       154 non-null    int64
 14  daysOfSupplyUpperThreshold   154 non-null    int64
 15  daysOfSupplyLowerThreshold   154 non-null    int64
 16  expiringThreshold            0 non-null      float64
 17  plannerCode                  154 non-null    object
 18  velocityCode                 154 non-null    object
 19  inventoryParentType          154 non-null    object
 20  class                        154 non-null    object
 21  segment                      78 non-null     object
dtypes: float64(2), int64(10), object(10)
memory usage: 26.6+ KB

In [9]:
df_inventory.isna().sum() # dziƒôki tej metody 'isna()' mo≈ºemy zobaczyƒá ile w rzeczywisto≈õci brakuje wierszy w danych kolumnach, ktore nastƒôpnie sumujemy .sum(), zeby mieƒá pe≈Çny obraz

product.partNumber               0
location.locationIdentifier      0
inventoryType                    0
quantity                         0
quantityUnits                    0
value                            0
valueCurrency                    0
reservationOrders                0
daysOfSupply                     0
shelfLife                        0
reorderLevel                     0
expectedLeadTime                 0
quantityUpperThreshold           0
quantityLowerThreshold           0
daysOfSupplyUpperThreshold       0
daysOfSupplyLowerThreshold       0
expiringThreshold              154
plannerCode                      0
velocityCode                     0
inventoryParentType              0
class                            0
segment                         76
dtype: int64

In [5]:
df_house = df_house.dropna() # to teraz ≈ºeby siƒô pozbyƒá tych wierszy bez warto≈õci, po prostu te wiersze usuniemy=dropniemy. Czyli teraz mamy ju≈º oczyszczone dane, bez brakujƒÖcych warto≈õci!

In [6]:
df_house.isna().sum() # teraz ju≈º widaƒá, ≈ºe wszedzie jest 0, czyli nigdzie nie ma brak√≥w

offer_title               0
price                     0
price_per_meter           0
offer_type                0
floor                     0
area                      0
rooms                     0
offer_type_of_building    0
market                    0
city_name                 0
voivodeship               0
month                     0
year                      0
population                0
longitude                 0
latitude                  0
dtype: int64

In [7]:
pd.set_option('display.float.format', lambda x: '%.5f' % x) # tutaj ustawiamy flagƒô dla Pandas, o nazwie 'display.float.format' + tu korzystamy z 'lambdy', aby ka≈ºdy z tych wierszy by≈Ç wyswietlany jako warto≈õƒá dziesiƒôtna, z 5 miejscami po przecinku

In [11]:
df_inventory.describe() # Bardzo przydatna Funkcja'describe' - za pomocƒÖ kt√≥rej wy≈õwietlamy podstawowe statystyki, gdzie mamy zawarte wszystkie numeryczne kolumny. Dziƒôki temu zobaczymy, czy nie ma jakich≈õ z≈Çych danych, np.min cena za 1m2=2grosze, za≈õ cena max=ponad 9mln z≈Ç.

,quantity,value,reservationOrders,daysOfSupply,shelfLife,reorderLevel,expectedLeadTime,quantityUpperThreshold,quantityLowerThreshold,daysOfSupplyUpperThreshold,daysOfSupplyLowerThreshold,expiringThreshold
count,154.000000,1.540000e+02,154.000000,154.000000,154.0,154.000000,154.000000,154.000000,154.000000,154.0,154.0,0.0
mean,160.110390,9.286240e+04,1.012987,31.168831,365.0,124.025974,25.909091,270.454545,60.844156,30.0,10.0,NaN
std,149.333796,1.753577e+05,1.003178,17.531971,0.0,75.238353,6.702222,148.589626,44.764471,0.0,0.0,NaN
min,0.000000,0.000000e+00,0.000000,0.000000,365.0,50.000000,15.000000,100.000000,10.000000,30.0,10.0,NaN
25%,38.000000,1.330150e+04,0.000000,15.250000,365.0,50.000000,15.000000,100.000000,10.000000,30.0,10.0,NaN
50%,119.500000,3.486800e+04,2.000000,33.500000,365.0,50.000000,30.000000,400.000000,100.000000,30.0,10.0,NaN
75%,232.250000,6.397200e+04,2.000000,45.750000,365.0,200.000000,30.000000,400.000000,100.000000,30.0,10.0,NaN
max,678.000000,1.382500e+06,2.000000,60.000000,365.0,200.000000,30.000000,400.000000,100.000000,30.0,10.0,NaN

In [10]:
df_inventory.describe(include='object') # teraz wy≈õwietlamy podstawowe statystyki, gdzie mamy zawarte wszystkie tekstowe (object) kolumny

,product.partNumber,location.locationIdentifier,inventoryType,quantityUnits,valueCurrency,plannerCode,velocityCode,inventoryParentType,class,segment
count,154,154,154,154,154,154,154,154,154,78
unique,77,2,2,1,1,17,6,1,1,1
top,PS-SL-A287,LT-1,PRODUCT,EA,USD,Street Lighting,A,ONHAND,NEW,INDUSTRIAL
freq,2,77,78,154,154,28,44,154,154,78

In [9]:
df_house.sort_values('area') # tu sortujemy mieszkania po powierzchni, ≈ºeby zobaczyƒá, gdzie sƒÖ warto≈õci odstajƒÖce, czyli te kt√≥re sƒÖ bez sensu. Wiadomo, ≈ºe jesli nie zespecykfikujemy, to zawsze startuje sie od najmniejszych, do najwiƒôkszych. I nastƒôpnie te bez sensu dobrze jest odrzuciƒá.

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
51970,Le≈õnicz√≥wka - nowe mieszkania na sprzeda≈º,5800.00000,5800.00000,Estate Agency,3.00000,1.00000,1,Housing Block,primary,≈öwidwin,West Pomerania,March,2022,15725,15.77735,53.77470
9281,Le≈õnicz√≥wka - nowe mieszkania na sprzeda≈º,5500.00000,5500.00000,Estate Agency,3.00000,1.00000,1,Housing Block,primary,≈öwidwin,West Pomerania,January,2022,15725,15.77735,53.77470
30052,Park Chopina | 34-62 m2 | 1-3 pokoje | taras-b...,6200.00000,6200.00000,Estate Agency,3.00000,1.00000,1,Housing Block,primary,Tomasz√≥w Mazowiecki,Lodzkie,February,2022,64893,20.00842,51.53169
45585,Mieszkania na parterze,285000.00000,285000.00000,Estate Agency,0.00000,1.00000,2,Housing Block,aftermarket,Sanok,Subcarpathia,March,2022,39027,22.20703,49.56091
56266,"M-3 z loggiƒÖ, 50,53 m2, pierwsze piƒôtro, os. S...",265000.00000,265000.00000,Estate Agency,1.00000,1.00000,2,Housing Block,aftermarket,≈ªyrard√≥w,Masovia,March,2022,41096,20.44350,52.05433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27663,Mieszkanie 52m2 parter. P√≥≈Çnoc.,320000.00000,1.00000,Private,0.00000,320000.00000,3,Housing Block,aftermarket,Suwa≈Çki,Podlaskie,February,2022,69317,22.92794,54.09906
38482,Mieszkanie 52m2 parter. P√≥≈Çnoc.,320000.00000,1.00000,Private,0.00000,320000.00000,3,Housing Block,aftermarket,Suwa≈Çki,Podlaskie,February,2022,69317,22.92794,54.09906
19465,Kawalerka pod klucz/Gotowiec inwestycyjny!,342020.00000,1.00000,Estate Agency,2.00000,342020.00000,1,Apartment Building,primary,Wroc≈Çaw,Lower Silesia,February,2022,634487,17.03267,51.10898
9169,Kawalerka pod klucz/Gotowiec inwestycyjny!,342020.00000,1.00000,Estate Agency,2.00000,342020.00000,1,Apartment Building,primary,Wroc≈Çaw,Lower Silesia,January,2022,634487,17.03267,51.10898
61548,SPRZEDAM mieszkanie 58m2 + piwnica 11m2. Zamkn...,399000.00000,1.00000,Private,2.00000,399000.00000,3,Housing Block,aftermarket,Nowogard,West Pomerania,March,2022,16937,15.12259,53.66877

In [11]:
df_house.sort_values('area', ascending=False) # tu sobie sortujemy te≈º po powierzchni, ale od najwiƒôkszych, do najmniejszych, zeby kolejne bezsensy wyrzuciƒá

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
61548,SPRZEDAM mieszkanie 58m2 + piwnica 11m2. Zamkn...,399000.00000,1.00000,Private,2.00000,399000.00000,3,Housing Block,aftermarket,Nowogard,West Pomerania,March,2022,16937,15.12259,53.66877
9169,Kawalerka pod klucz/Gotowiec inwestycyjny!,342020.00000,1.00000,Estate Agency,2.00000,342020.00000,1,Apartment Building,primary,Wroc≈Çaw,Lower Silesia,January,2022,634487,17.03267,51.10898
19465,Kawalerka pod klucz/Gotowiec inwestycyjny!,342020.00000,1.00000,Estate Agency,2.00000,342020.00000,1,Apartment Building,primary,Wroc≈Çaw,Lower Silesia,February,2022,634487,17.03267,51.10898
27663,Mieszkanie 52m2 parter. P√≥≈Çnoc.,320000.00000,1.00000,Private,0.00000,320000.00000,3,Housing Block,aftermarket,Suwa≈Çki,Podlaskie,February,2022,69317,22.92794,54.09906
38482,Mieszkanie 52m2 parter. P√≥≈Çnoc.,320000.00000,1.00000,Private,0.00000,320000.00000,3,Housing Block,aftermarket,Suwa≈Çki,Podlaskie,February,2022,69317,22.92794,54.09906
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34405,"M- 3 z loggiƒÖ 50.53 m2, 1 piƒôtro, o≈õ. Sp√≥≈Çdzie...",285000.00000,285000.00000,Estate Agency,1.00000,1.00000,2,Housing Block,aftermarket,≈ªyrard√≥w,Masovia,February,2022,41096,20.44350,52.05433
34608,Mieszkania na parterze,285000.00000,285000.00000,Estate Agency,0.00000,1.00000,2,Housing Block,aftermarket,Sanok,Subcarpathia,February,2022,39027,22.20703,49.56091
38238,"M-4 z balkonem 63 m2, drugie piƒôtro w Housing...",389000.00000,389000.00000,Estate Agency,2.00000,1.00000,3,Housing Block,aftermarket,≈ªyrard√≥w,Masovia,February,2022,41096,20.44350,52.05433
10931,"M-2 z balkonem 32,50 m2, parter os. Sp√≥≈Çdzielcza.",229000.00000,229000.00000,Estate Agency,0.00000,1.00000,1,Housing Block,aftermarket,≈ªyrard√≥w,Masovia,January,2022,41096,20.44350,52.05433
9281,Le≈õnicz√≥wka - nowe mieszkania na sprzeda≈º,5500.00000,5500.00000,Estate Agency,3.00000,1.00000,1,Housing Block,primary,≈öwidwin,West Pomerania,January,2022,15725,15.77735,53.77470

In [11]:
df_house = df_house[(df_house['area'] > 10) & (df_house['area'] < 300 )]

In [12]:
df_house.describe()

,price,price_per_meter,floor,area,rooms,year,population,longitude,latitude
count,61080.00000,61080.00000,61080.00000,61080.00000,61080.00000,61080.00000,61080.00000,61080.00000,61080.00000
mean,397999.37666,7479.30771,2.40033,54.61850,2.51208,2022.00000,314751.93862,19.15705,51.82204
std,2049915.48342,36539.47469,2.14980,19.99929,0.82295,0.00000,453117.73754,2.13882,1.32365
min,1.00000,0.02000,-1.00000,11.00000,1.00000,2022.00000,1328.00000,14.25107,49.29694
25%,260000.00000,5264.17000,1.00000,42.00000,2.00000,2022.00000,33967.00000,17.56523,50.68711
50%,345000.00000,6593.83500,2.00000,51.10000,2.00000,2022.00000,103997.00000,19.27216,51.76873
75%,460000.00000,8775.51000,3.00000,63.00000,3.00000,2022.00000,402465.00000,20.93083,52.84739
max,504151616.00000,9002707.43000,11.00000,298.35000,4.00000,2022.00000,1744351.00000,23.88738,54.79013

In [13]:
df_house.sort_values('price_per_meter') # a teraz zobaczymy sobie ceny za metr 2 - przefiltrujmey. I jak widzimy niekt√≥re dane sƒÖ bez sensu. Tu mamy defaultowe dane - od najmniejszych, d o najwiƒôkszych.

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
30315,Mieszkanie Warka 45 m2 OdstƒÖpiƒô rezerwacjƒô,1.00000,0.02000,Private,3.00000,45.00000,2,Apartment Building,primary,Warka,Masovia,February,2022,11727,21.18338,51.78510
40287,Sprzedm tanio... bez po≈õrednik√≥w...,4.00000,0.06000,Private,2.00000,62.00000,4,Housing Block,aftermarket,Siedlce,Masovia,February,2022,77102,22.27651,52.16638
40379,OKAZJA. Tylko 246 tys. z≈Ç. Nieruchomo≈õƒá na mie...,246.00000,1.76000,Estate Agency,0.00000,140.00000,4,Other,aftermarket,Kƒôdzierzyn-Ko≈∫le,Opole,February,2022,63194,18.21096,50.34488
404,Dam odstƒôpne za mieszkanie!,100.00000,2.00000,Private,1.00000,50.00000,2,Housing Block,primary,Zabrze,Silesia,January,2022,178357,18.78637,50.30862
2054,Zamiana Mieszkania,123.00000,2.73000,Private,2.00000,45.00000,2,Housing Block,aftermarket,LƒÖdek-Zdr√≥j,Lower Silesia,January,2022,5917,16.87259,50.34583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51502,"Komfortowy,wyjƒÖtkowy apart.108m2,wyposa≈ºony,ul...",4500000.00000,41666.67000,Estate Agency,4.00000,108.00000,4,Apartment Building,aftermarket,Gda≈Ñsk,Pomerania,March,2022,461935,18.65402,54.34829
35588,Mieszkanie do sprzeda≈ºy,2800000.00000,53742.80000,Private,2.00000,52.10000,2,Tenement,aftermarket,Biskupiec,Warmia-Masuria,February,2022,10626,20.95518,53.86880
29663,4 pokojowe mieszkanie w slupsku,4440000.00000,60000.00000,Private,4.00000,74.00000,4,Housing Block,aftermarket,S≈Çupsk,Pomerania,February,2022,93936,17.02807,54.46493
52100,Sprzedam mieszkanie -cesja,6580000.00000,149545.45000,Private,1.00000,44.00000,2,Housing Block,primary,Krak√≥w,Lesser Poland,March,2022,762508,19.93686,50.06195
36199,Okazja Pogodno 56 mkw z ogr√≥dkiem tylko u nas,504151616.00000,9002707.43000,Estate Agency,1.00000,56.00000,2,Housing Block,aftermarket,Szczecin,West Pomerania,February,2022,402465,14.55096,53.43018

In [14]:
df_house.sort_values('price_per_meter', ascending=False) # a tu sobie filtrujemy od najwyzszej ceny za m2, do najni≈ºszej.

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
36199,Okazja Pogodno 56 mkw z ogr√≥dkiem tylko u nas,504151616.00000,9002707.43000,Estate Agency,1.00000,56.00000,2,Housing Block,aftermarket,Szczecin,West Pomerania,February,2022,402465,14.55096,53.43018
52100,Sprzedam mieszkanie -cesja,6580000.00000,149545.45000,Private,1.00000,44.00000,2,Housing Block,primary,Krak√≥w,Lesser Poland,March,2022,762508,19.93686,50.06195
29663,4 pokojowe mieszkanie w slupsku,4440000.00000,60000.00000,Private,4.00000,74.00000,4,Housing Block,aftermarket,S≈Çupsk,Pomerania,February,2022,93936,17.02807,54.46493
35588,Mieszkanie do sprzeda≈ºy,2800000.00000,53742.80000,Private,2.00000,52.10000,2,Tenement,aftermarket,Biskupiec,Warmia-Masuria,February,2022,10626,20.95518,53.86880
51502,"Komfortowy,wyjƒÖtkowy apart.108m2,wyposa≈ºony,ul...",4500000.00000,41666.67000,Estate Agency,4.00000,108.00000,4,Apartment Building,aftermarket,Gda≈Ñsk,Pomerania,March,2022,461935,18.65402,54.34829
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2054,Zamiana Mieszkania,123.00000,2.73000,Private,2.00000,45.00000,2,Housing Block,aftermarket,LƒÖdek-Zdr√≥j,Lower Silesia,January,2022,5917,16.87259,50.34583
404,Dam odstƒôpne za mieszkanie!,100.00000,2.00000,Private,1.00000,50.00000,2,Housing Block,primary,Zabrze,Silesia,January,2022,178357,18.78637,50.30862
40379,OKAZJA. Tylko 246 tys. z≈Ç. Nieruchomo≈õƒá na mie...,246.00000,1.76000,Estate Agency,0.00000,140.00000,4,Other,aftermarket,Kƒôdzierzyn-Ko≈∫le,Opole,February,2022,63194,18.21096,50.34488
40287,Sprzedm tanio... bez po≈õrednik√≥w...,4.00000,0.06000,Private,2.00000,62.00000,4,Housing Block,aftermarket,Siedlce,Masovia,February,2022,77102,22.27651,52.16638
30315,Mieszkanie Warka 45 m2 OdstƒÖpiƒô rezerwacjƒô,1.00000,0.02000,Private,3.00000,45.00000,2,Apartment Building,primary,Warka,Masovia,February,2022,11727,21.18338,51.78510

In [16]:
df_house = df_house [(df_house['price_per_meter'] >= 500) & (df_house['price_per_meter'] <= 60000)] # a teraz sobie zn√≥w te dane filtrujemy, ≈ºeby po filtrze nie by≈Ço bzdurnych warto≈õci.

In [ ]:
# TO WSZYSTKO CO TERAZ I POPRZEDNIO ZOSTA≈ÅO ZROBIONE, CZYLI WYCZYSZCZENIE DANYCH, MA NA CELU, ≈ªEBY BAZA, NA KT√ìREJ P√ì≈πNIEJ BƒòDZIEMY PRACOWAƒÜ BY≈ÅA WYCZYSZCZONA ZE Z≈ÅYCH DANYCH, KT√ìRE TYLKO MOGLYBY ZAKLAMYWAƒÜ FAKTY!

In [15]:
df_house.describe() # teraz za pomocƒÖ metody 'describe'wy≈õwietlam statystyki!

,price,price_per_meter,floor,area,rooms,year,population,longitude,latitude
count,61080.00000,61080.00000,61080.00000,61080.00000,61080.00000,61080.00000,61080.00000,61080.00000,61080.00000
mean,397999.37666,7479.30771,2.40033,54.61850,2.51208,2022.00000,314751.93862,19.15705,51.82204
std,2049915.48342,36539.47469,2.14980,19.99929,0.82295,0.00000,453117.73754,2.13882,1.32365
min,1.00000,0.02000,-1.00000,11.00000,1.00000,2022.00000,1328.00000,14.25107,49.29694
25%,260000.00000,5264.17000,1.00000,42.00000,2.00000,2022.00000,33967.00000,17.56523,50.68711
50%,345000.00000,6593.83500,2.00000,51.10000,2.00000,2022.00000,103997.00000,19.27216,51.76873
75%,460000.00000,8775.51000,3.00000,63.00000,3.00000,2022.00000,402465.00000,20.93083,52.84739
max,504151616.00000,9002707.43000,11.00000,298.35000,4.00000,2022.00000,1744351.00000,23.88738,54.79013

In [18]:
df_house.sort_values('price') # no to jeszcze zobaczymy jak wyglƒÖda sytuacja ceny - i np. ceny za 9kpln nie majƒÖ sensu

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
42436,Mieszkanie w kamienicy Privatej,9500.00000,527.78000,Estate Agency,2.00000,18.00000,1,Tenement,aftermarket,≈Å√≥d≈∫,Lodzkie,March,2022,711332,19.45699,51.76873
42447,Kawalerka za odstƒôpne CENA OSTATECZA,10000.00000,500.00000,Estate Agency,2.00000,20.00000,1,Tenement,aftermarket,≈Å√≥d≈∫,Lodzkie,March,2022,711332,19.45699,51.76873
42437,Mieszkanie w kamienicy Privatej,11000.00000,733.33000,Estate Agency,2.00000,15.00000,1,Tenement,aftermarket,≈Å√≥d≈∫,Lodzkie,March,2022,711332,19.45699,51.76873
1362,Mieszkanie w kamienicy Privatej,12500.00000,833.33000,Estate Agency,2.00000,15.00000,1,Tenement,aftermarket,≈Å√≥d≈∫,Lodzkie,January,2022,711332,19.45699,51.76873
1363,Mieszkanie w kamienicy Privatej,12500.00000,694.44000,Estate Agency,2.00000,18.00000,1,Tenement,aftermarket,≈Å√≥d≈∫,Lodzkie,January,2022,711332,19.45699,51.76873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40176,ANGEL WAWEL ul.Sukiennicza - apartament dla Ko...,3999000.00000,25634.62000,Estate Agency,4.00000,156.00000,4,Apartment Building,aftermarket,Krak√≥w,Lesser Poland,February,2022,762508,19.93686,50.06195
29663,4 pokojowe mieszkanie w slupsku,4440000.00000,60000.00000,Private,4.00000,74.00000,4,Housing Block,aftermarket,S≈Çupsk,Pomerania,February,2022,93936,17.02807,54.46493
51502,"Komfortowy,wyjƒÖtkowy apart.108m2,wyposa≈ºony,ul...",4500000.00000,41666.67000,Estate Agency,4.00000,108.00000,4,Apartment Building,aftermarket,Gda≈Ñsk,Pomerania,March,2022,461935,18.65402,54.34829
40474,"Komfortowy,wyjƒÖtkowy apart.108m2,wyposa≈ºony,ul...",4500000.00000,41666.67000,Estate Agency,4.00000,108.00000,4,Apartment Building,aftermarket,Gda≈Ñsk,Pomerania,February,2022,461935,18.65402,54.34829
62050,Krak√≥w apartament w centrum ulica Sarego,5400000.00000,20000.00000,Private,2.00000,270.00000,4,Tenement,aftermarket,Krak√≥w,Lesser Poland,March,2022,762508,19.93686,50.06195

In [16]:
df_house = df_house[df_house['price'] > 100000] # dlatego filtrujemy, ≈ºe minimalna cena to powyzej 100kpl

In [17]:
df_house.describe()

,price,price_per_meter,floor,area,rooms,year,population,longitude,latitude
count,60286.00000,60286.00000,60286.00000,60286.00000,60286.00000,60286.00000,60286.00000,60286.00000,60286.00000
mean,402402.99746,7551.56481,2.41063,54.79340,2.52141,2022.00000,315956.67117,19.16284,51.82394
std,2063005.81530,36773.44320,2.14935,19.89894,0.81881,0.00000,454549.95634,2.14041,1.32412
min,100500.00000,754.72000,-1.00000,11.00000,1.00000,2022.00000,1328.00000,14.25107,49.29694
25%,265000.00000,5316.67000,1.00000,42.26250,2.00000,2022.00000,34120.00000,17.56523,50.68711
50%,349000.00000,6627.91000,2.00000,51.42500,2.00000,2022.00000,103997.00000,19.27216,51.76873
75%,463395.00000,8819.81000,3.00000,63.00000,3.00000,2022.00000,402465.00000,20.93083,52.84846
max,504151616.00000,9002707.43000,11.00000,298.35000,4.00000,2022.00000,1744351.00000,23.88738,54.79013

### EKSPLORACJA DANYCH, poszukiwanie r√≥≈ºnych specyficznych danych, SCHEMAT√ìW

In [18]:
df_house['offer_type'].value_counts() #tu za pomocƒÖ funkcji '.value_counts' mo≈ºemy z danej kolumny wyciƒÖgnƒÖƒá istniejƒÖce tam r√≥≈ºne dane i je nastƒôpnie zsumowaƒá, np. z kolumny 'offer_type', w kt√≥rej mamy skƒÖd dana oferta pochodzi, czy od biura nieruchomo≈õci, czy od osoby prywatnej, to ona zlicza i pokazuje te ilo≈õci, w rozbiciu na te dwa ≈∫r√≥d≈Ça pochodzenia nieruchomo≈õci.

offer_type
Private          43872
Estate Agency    16414
Name: count, dtype: int64

In [19]:
df_house['offer_type_of_building'].value_counts() # a teraz zobaczymy jak siƒô te liczbu kszta≈ÇtujƒÖ pod wzglƒôdem budynk√≥w

offer_type_of_building
Housing Block         43434
Tenement               8270
Apartment Building     6316
Other                  2166
Loft                    100
Name: count, dtype: int64

In [20]:
df_house['market'].value_counts() # a teraz jak siƒô to kszta≈Çtuje pod wzglƒôdem, czy reynek pierwotny, czy wt√≥ny

market
aftermarket    53108
primary         7178
Name: count, dtype: int64

In [21]:
df_house ['voivodeship'].value_counts() # a teraz jak siƒô to kszta≈Çtuje pod wzglƒôdem, wojw√≥dztw, kt√≥re wojewodztow ma najwiecej og≈Çoszen

voivodeship
Masovia              8967
Silesia              7338
Lower Silesia        5545
Lodzkie              5506
Lesser Poland        4818
Greater Poland       4353
West Pomerania       3667
Lublin               3322
Pomerania            3112
Kuyavia-Pomerania    3062
Warmia-Masuria       2895
Subcarpathia         1688
≈öwiƒôtokrzyskie       1569
Podlaskie            1509
Opole                1468
Lubusz               1467
Name: count, dtype: int64

In [22]:
df_house[df_house['area'] < 20].size # teraz patrzymy ile jest og≈Çoszen mikroapartamemt√≥w, poni≈ºej 20m2

4288

In [28]:
df_house [(df_house['city_name']== '≈Å√≥d≈∫') & (df_house['area'] > 10) & (df_house['area'] <25)] # teraz mamy takie bardziej skomplikowane filtrowanie, na bazie kt√≥rego filtrujemy wszystkie og≈Çoszenia tak aby by≈Çy z ≈Åodzi i pow by≈Ça w przedziale pomiedzy 10m2, a 25m2. I jak widaƒá mamy 122 takie og≈Çoszenia - te dane widzƒô w wierszu, gdzie podane jest ile jest podstron + ile wiersz√≥w i kolumn (122x16)

,offer_title,price,price_per_meter,offer_type,floor,area,rooms,offer_type_of_building,market,city_name,voivodeship,month,year,population,longitude,latitude
28,"ROI 7,2% - piƒôkna kawalerka ul S≈Çowia≈Ñska - i...",159000.00000,9937.50000,Estate Agency,2.00000,16.00000,1,Tenement,primary,≈Å√≥d≈∫,Lodzkie,January,2022,711332,19.45699,51.76873
1330,Bezpo≈õrednio od w≈Ça≈õciciela Apartament 24m2 ≈Å√≥...,289000.00000,12041.67000,Estate Agency,0.00000,24.00000,1,Apartment Building,aftermarket,≈Å√≥d≈∫,Lodzkie,January,2022,711332,19.45699,51.76873
1331,Mieszkanie 1-pokojowe w rewitalizowanej Kamienicy,195000.00000,9276.88000,Estate Agency,2.00000,21.02000,1,Tenement,aftermarket,≈Å√≥d≈∫,Lodzkie,January,2022,711332,19.45699,51.76873
1333,kawalerka z C.O. w zrewitalizowanej kamienicy ...,170000.00000,10585.31000,Private,2.00000,16.06000,1,Tenement,aftermarket,≈Å√≥d≈∫,Lodzkie,January,2022,711332,19.45699,51.76873
1335,RENTAROOM.PL KAWALERKI INWESTYCYJNE super loka...,159000.00000,7950.00000,Estate Agency,4.00000,20.00000,1,Housing Block,aftermarket,≈Å√≥d≈∫,Lodzkie,January,2022,711332,19.45699,51.76873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53454,Kawalerka po remoncie niedaleko centrum,150000.00000,6521.74000,Private,1.00000,23.00000,1,Tenement,aftermarket,≈Å√≥d≈∫,Lodzkie,March,2022,711332,19.45699,51.76873
53455,Kawalerka 20 m2 bezczynszowa z miejscem parkin...,105000.00000,5250.00000,Private,1.00000,20.00000,1,Tenement,aftermarket,≈Å√≥d≈∫,Lodzkie,March,2022,711332,19.45699,51.76873
53457,"Kawalerka 23 M2, sprzedam lub zamieniƒô, pe≈Çna ...",120000.00000,5217.39000,Private,2.00000,23.00000,1,Tenement,aftermarket,≈Å√≥d≈∫,Lodzkie,March,2022,711332,19.45699,51.76873
55329,Dwupokojowe mieszkanie 10 min od Manufaktury i...,199000.00000,8291.67000,Private,1.00000,24.00000,2,Tenement,aftermarket,≈Å√≥d≈∫,Lodzkie,March,2022,711332,19.45699,51.76873
59196,"RENTAROOM.PL KAWALERKI INWESTYCYJNE wynajƒôte,p...",149000.00000,8277.78000,Estate Agency,3.00000,18.00000,3,Housing Block,aftermarket,≈Å√≥d≈∫,Lodzkie,March,2022,711332,19.45699,51.76873

In [24]:
df_house [(df_house['city_name']== '≈Å√≥d≈∫') & (df_house['area'] > 10) & (df_house['area'] <25)] ['rooms'].value_counts() # a teraz sobie filtruje po tym, ile maks. pokoi mo≈ºna do takiej powierzchni wsadziƒá

rooms
1    117
3      4
2      1
Name: count, dtype: int64

In [29]:
df_house.groupby('voivodeship') ['price_per_meter'].mean().sort_values(ascending=False)#teraz zobaczymy jak siƒô kszta≈ÇtujƒÖ ceny w danych wojew√≥dztwach, gdzie najpierw grupujemy po wojew., a potem dodaƒá ile za metr, nastƒôpnie funkcja aggregujƒÖce od ≈õredniej to 'mean' i jeszcze sobie posortujemy od najwiƒôkszej do najmniejszej

voivodeship
Lesser Poland       10164.88807
West Pomerania       9894.54194
Masovia              9808.70878
Pomerania            8588.34849
Lower Silesia        7452.59660
Podlaskie            7387.80225
Lublin               7025.41616
Greater Poland       6587.78260
Lodzkie              6584.30192
Subcarpathia         6332.43395
Kuyavia-Pomerania    6293.70707
Warmia-Masuria       6176.24590
≈öwiƒôtokrzyskie       5903.86504
Silesia              5727.58485
Lubusz               5385.67509
Opole                5135.93411
Name: price_per_meter, dtype: float64

In [30]:
df_house.groupby('city_name')['price_per_meter'].mean().sort_values(ascending=False) # a teraz zobaczymy jakie miasto jest najdro≈ºsze

city_name
Zakopane           19346.82588
Miƒôdzyzdroje       15190.51719
Szklarska Porƒôba   15015.03375
Sopot              14822.97873
Szczecin           14618.46116
                       ...
Ziƒôbice             2539.54231
Korfant√≥w           2469.14000
Przedb√≥rz           2325.58000
Otmuch√≥w            2192.90400
Ma≈Çomice            1529.91400
Name: price_per_meter, Length: 602, dtype: float64

In [31]:
df_house.groupby(['voivodeship', 'market']) ['price_per_meter'].mean() # ostatnie grupowanie - jak siƒô r√≥≈ºniƒÖ w ro≈ºnych wojew. ceny pomiedzy rynkiem wt√≥rnym, a pierwotnym

voivodeship        market
Greater Poland     aftermarket    6655.27551
                   primary        6303.42325
Kuyavia-Pomerania  aftermarket    6255.99981
                   primary        6712.36198
Lesser Poland      aftermarket   10152.52119
                   primary       10249.40512
Lodzkie            aftermarket    6559.31675
                   primary        6796.50359
Lower Silesia      aftermarket    7402.62074
                   primary        7834.26581
Lublin             aftermarket    7047.31612
                   primary        6828.84264
Lubusz             aftermarket    5368.50636
                   primary        5613.03573
Masovia            aftermarket    9890.77200
                   primary        9177.72848
Opole              aftermarket    5089.37954
                   primary        5607.12288
Podlaskie          aftermarket    7350.90183
                   primary        7707.84237
Pomerania          aftermarket    8701.96477
                   primary        7896.55733
Silesia            aftermarket    5558.37084
                   primary        6883.54950
Subcarpathia       aftermarket    6295.23542
                   primary        6603.03495
Warmia-Masuria     aftermarket    6183.17126
                   primary        6101.00352
West Pomerania     aftermarket   10139.47916
                   primary        7959.41905
≈öwiƒôtokrzyskie     aftermarket    5790.21079
                   primary        6473.44268
Name: price_per_meter, dtype: float64